<div class="columns is-mobile is-centered">
  <div class="column is-half">
    

    <p class="bd-notification is-primary">
    <p>Eventpriv: discover events, invite friends</p>
    <p>Built to practise Active Record Associations, part of the Odin project</p>
      <h1 class="title">Login</h1>
      <%= form_tag '/login' do %> 
        <div class="form-inputs">
          <div class="field">
       
            <label class="label">Username</label>
            <%= text_field_tag :username %>
          </div>
        </div>
      
        <p class="help">Try 'jenna'</p>
        <%= submit_tag "Sign in" , class: "button is-primary"%>
      <% end %>
    </p>
  </div>
</div>


      
    

  

  
    