<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">Home</a>
      <%if current_user%>
        <a class="navbar-item">@<%=current_user.username%></a>
      <%end%>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        
          <%if !current_user%>
            <%=link_to 'Sign up', '/signup', class: "button is-primary"%>
            <%= link_to 'Sign in', '/login', class: "button is-light"%>
          <%else%>
            <%= link_to 'Sign out', '/logout', class: "button is-light" %>      
          <%end%>
      </div>
    </div>
  </div>
</nav>